extends ./layout.jade

block title
  title VerMgr 静态资源版本管理

block css
  link(rel='stylesheet', href='/css/welcome.css')

block content
  h1 欢迎使用 VerMgr
  p
    | VerMgr 提供的服务&nbsp;
    a(href='/api') API DOC

  p
    | 请&nbsp;
    a(href='mailto:yunhua.xiao@guluauto.com') 联系管理员
    | ，为您提供服务调用权限 token

